.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Ignore IDE settings
.settings/
.idea/
.classpath
.project
*.ipynb
*.pyc
*.iml
*.iws
*.ipr

# Ignore backups, merge fails and binaries
*.class
*.log
*.orig
*~
*.autosave
.~*
